body{
    margin:0;
    padding:0;
    background-image: url("background.jpg");
    background-position:center;
    background-size:auto;
    height:500px;

}
.header{
    display:flex;
    justify-content:space-between;
    background-color:lightgray;
    margin:0;
    width:100%;
}
.one{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:90px;
    margin-left:20px;
    font-size:18pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    white-space:nowrap;
}
.navigation {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
    list-style-type: none;
    width:900px;
    font-family: 'Source Sans Pro', sans-serif;
}


.tabs {
    list-style-type:none;
    display:flex;
    justify-content:flex-end;
    flex-direction:row;

}
.tab1, .tab2, .tab3, .tab4, .tab5 {
    margin-left:20px;
    margin-right:20px;
    font-size:18pt;
    font-weight:bold;
    
}

a:link {
    text-decoration:none;
    color:black;
    
    
}

.container {
    display:flex;
    justify-content:center;
    
}
.wrapper {
    display:flex;
    max-width:960px;
    min-width:680px;
    max-height:650px;
    flex-direction:row;
    background-color:FFFBEB;
    border:solid;
    border-width:3px;
    border-color:black;
    border-radius:15px;
    justify-content:center;
    align-items:center;
    margin-top:45px;
    margin-bottom:45px;
}

ul, li {
    list-style:none;
}

.leadership {
    font-family: 'Open Sans', sans-serif;
    font-size:13pt;
    padding:10px;
    margin:10px;
}

@media only screen and (max-width:640px) {
    .wrapper {
        max-width:480px;
        display:flex;
        justify-content:center;
    }

    .leadership{
        max-width:480px;
        font-size:11pt;
    }
    
}